@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <h4>  Senai Brasil</h4>
    <br><br><br><br><br><br><br>
    <h5>Aqui você encontrá nossas parcerias e terá acesso ao novos cursos do novo Senai Brasil!</h5>
    <br><br><br><br><br><br><br><br><br>

    <p>Aprendendo sobre <a>primeiro appWeb com ASP.NET Core</a>.</p>
</div>
